<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-info display-4 text-center">Search</h1>
                <p class="text-muted text-center mb-2">Enter animal name or class</p>

                <!--Form-->
                <form class="mx-5">
                <div class="input-group my-3">
                    <input type="search" class="form-control" placeholder="Enter animals name or class" name="q"/>
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        {% if search_query %}
        <div class="row">
        <div class="col-md-12">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                {% for animal in animals %}
                    <div class="swiper-slide">
                        <a href="../animal/{{ animal.id }}">
                        <div class="card mb-3">
                            <img src="{{ animal.image.url }}" class="card-img-top img-height" alt="{{ animal.image.url }}">
                            <div class="card-body bg-info">
                                <h5 class="card-title font-weight-bold text-center">{{ animal.name }}</h5>
                                <p class="card-text text-light text-center">{{ animal.description }}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- pagination -->
            <div class="swiper-pagination"></div>
            <!-- navigation buttons -->
            <div class="swiper-button-prev text-info font-weight-bold"></div>
            <div class="swiper-button-next text-info font-weight-bold"></div>
        </div>
        </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}